<!doctype html>
<html>
<head>
  <title>Game Page</title>
</head>
<body>
  <form action="/madlib">
    Hi {{ person }}! Can we get a person{{person}} a color{{color}} a noun{{noun}} an adjective{{ adjective }}!
    <br>
    person<input type="text" name="person" value="person"> 
    <br>
    color<input type="text" name="color" value="color">
    <br>
    noun<input type="text" name="noun" value="noun">
    <br>
    adjective<input type="text" name="adjective" value="adjective">
    <br>
    <input type="submit">
  </form>
   
</body>
</html>